<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link
            rel="stylesheet"
            href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
        />
        <link rel="stylesheet" href="css/forgot-password.css" />
        <% if (clearStorage) { %>
        <script>
            localStorage.removeItem("token");
        </script>
        <% } %>
        <script src="https://use.fontawesome.com/84c30ce25b.js"></script>
        <script src="js/tokenChecker.js"></script>
        <title>Forgot Password</title>
    </head>
    <body>
        <% if (message) { %>
        <div
            style="font-family: monospace !important"
            class="alert alert-danger"
        >
            <%= message %>
        </div>
        <% } %>

        <div class="background">
            <div class="shape"></div>
            <div class="shape"></div>
        </div>
        <form action="/forgot-password" method="POST">
            <h3>Forgot Password</h3>

            <label for="email">Email</label>
            <input type="email" name="email" required />

            <button class="send-reset-link" type="submit">
                Send reset link
            </button>
            <div class="social">
                <a href="/login"><div class="go">Login</div></a>
            </div>
        </form>
    </body>
</html>
