<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <% if (clearStorage) { %>
        <script>
            localStorage.removeItem("token");
        </script>
        <% } %>
        <script src="js/tokenChecker.js"></script>
        <script src="https://use.fontawesome.com/84c30ce25b.js"></script>
        <link rel="stylesheet" href="css/login.css" />
        <title>Login</title>
    </head>
    <body>
        <% if (message) { %>
        <div style="display:flex; justify-content:center; width: 500px; background-color: rgb(206, 142, 142); margin: 30px auto;">
            <h4 style="color:rgb(204, 7, 7); font-family: monospace !important; font-size: 20px;">
                <%= message %>
            </h4>
        </div>
        <% } %>
        <div>

        <div class="background">
            <div class="shape"></div>
            <div class="shape"></div>
        </div>
        <form action="/login" method="POST">
            <h3>Login Here</h3>
    
            <label for="username">Username</label>
            <input type="text"
                name="username"
                required
            >
    
            <label for="password">Password</label>
            <div class="pass-div">
                <div><input type="password" name="password" required></div>
                <div><i class="fa fa-eye" aria-hidden="true"></i></div>
            </div>
    
            <button type="submit">Log In</button>
            <div class="social">
              <div class="go"><a href="/signup">Signup</a></div>
            </div>
        </form>
    </body>
</html>
