<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link
            rel="stylesheet"
            href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
        />
        <link rel="stylesheet" href="/css/forgot-password.css" />
        <% if (clearStorage) { %>
        <script>
            localStorage.removeItem("token");
        </script>
        <% } %>
        <script src="https://use.fontawesome.com/84c30ce25b.js"></script>
        <script src="/js/tokenChecker.js"></script>
        <script src="/js/showPassword.js" defer></script>
        <title>Reset Password</title>
    </head>
    <body>
        <% if (message) { %>
        <div
            style="font-family: monospace !important"
            class="alert alert-danger"
        >
            <%= message %>
        </div>
        <% } %>

        <div class="background">
            <div class="shape"></div>
            <div class="shape"></div>
        </div>
        <form method="POST" onsubmit="getActionURL(this)">
            <h3>Reset Password</h3>

            <label for="password">Password</label>
            <div class="pass-div">
                <div><input type="password" name="password" required /></div>
                <div>
                    <button id="show-password">
                        <i class="fa fa-eye" aria-hidden="true"></i>
                    </button>
                </div>
            </div>

            <button class="reset-password" type="submit">Reset password</button>
            <div class="social">
                <a href="/login"><div class="go">Login</div></a>
            </div>
        </form>
    </body>
    <script>
        function getActionURL(theForm) {
            const text = window.location.href.split("/")[4];
            const id = text.substring(0, text.indexOf("?"));
            theForm.action = `/reset-password/${id}?token=${getToken()}`;
        }

        function getToken() {
            const urlSearchParams = new URLSearchParams(window.location.search);
            const params = Object.fromEntries(urlSearchParams.entries());
            return params.token;
        }
    </script>
</html>
