<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Stress Task</title>
    </head>
    <body>
        <div>
            <h1>Stress Task</h1>
        </div>

        <div>
            <a href="/"><button id="logout">Logout</button></a>
        </div>
    </body>
    <script src="tokenAssigner.js"></script>

    <%- include('partials/logout-footer') %>
