<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
        <link rel="stylesheet" href="css/type-data.css" />
        <title>Stress Detection</title>
    </head>
    <body>
        <%- include('partials/navbar') %>
        <input id="sliderExists" type="hidden" value="no" />
        <div class="main">
            <h2>Instructions</h2>
            <ul class="check-list">
                <li>Type in English only.</li>
                <li>
                    You must type <b>atleast 10 words</b> to submit the text.
                </li>
            </ul>
            <textarea rows="20" cols="150" id="text" name="text"></textarea>

            <button id="submitButton" class="button-64">Submit</button>
        </div>
    </body>

    <script src="js/tokenAssigner.js"></script>
    <script src="js/dataManipulation.js"></script>
    <%- include('partials/logout-script') %>
</html>
