<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="css/stressTask.css" />
        <title>Stress Task</title>
    </head>
    <body>
        <div>
            <h1>Stress Task</h1>
        </div>
        <div>
            <h2>Instructions</h2>
            <ul>
                <li>
                    As soon as you click start, a timer of
                    <b>120 seconds</b> will appear.
                </li>
                <li>
                    A word will be displayed, you have to speak out loud the
                    color of the word and not the word itself.
                </li>
                <li>
                    For example: <b style="color: red">Green</b> should be
                    spoken as <b>Red.</b>
                </li>
                <li>
                    <b>Every wrong answer will deduct 10 seconds</b> from the
                    timer thus making it difficult to complete the task.
                </li>
                <li>
                    If you can get 75 questions right in 120 seconds, the task
                    is completed successfully and you should feel relatively
                    more stressed.
                </li>
                <li>
                    <b>
                        Feel free to do the task multiple times to induce more
                        stress.
                    </b>
                </li>
            </ul>
        </div>
        <div class="start-div">
            <button id="start">Start Task</button>
        </div>
        <div class="game-content">
            <div class="timer-div">
                <h2 id="timer"></h2>
            </div>
            <div class="score-div">
                <h3 id="score"></h3>
            </div>
            <div class="question-div">
                <h2 id="question"></h2>
            </div>
            <div class="answer-text-div">
                <h3 id="answer-text"></h3>
            </div>
        </div>
        <div class="logout-div">
            <a href="/"><button id="logout">Logout</button></a>
        </div>
    </body>
    <script src="js/tokenAssigner.js"></script>
    <script src="js/stroopTest.js"></script>

    <%- include('partials/logout-footer') %>
</html>
